<aside id="side-bar">
  <h3>Add a Job</h3>
  <form class="job-form" #jobForm (ngSubmit)="submitForm(newJob)">
    <label for="title">Title</label>
    <input type="text" name="title" [(ngModel)]="newJob.title">
    <label for="pay">Compensation</label>
    <input type="text" name="pay" [(ngModel)]="newJob.pay">
    <label for="description">Description</label>
    <textarea name="description" rows="8" cols="40" [(ngModel)]="newJob.description"></textarea>
    <input type="submit" name="submit" value="Submit" />
  </form>
</aside>
